// Variables
//------------------------------------------------------
$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;

$breadcrumb-color:              #ccc !default;
$breadcrumb-separator:          "/" !default;

$breadcrumb-font-color:                        $darkgray-dark !default;
$breadcrumb-link-color:                        $aqua-dark !default;
$breadcrumb-background-color:                  $lightgray-dark !default;



  /**
   * breadcrumb
   * --------------------------------------------------
   */
  .l-breadcrumb {
    padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
    margin-bottom: 20px;
    list-style: none;

    border-radius: 4px;
    color: $breadcrumb-font-color;
    background-color: $breadcrumb-background-color;

    > li {
      display: inline-block;

      + li:before {
        content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
        padding: 0 5px;
        color: $breadcrumb-color;
      }
    }

    > .active {
      color: $breadcrumb-font-color;
    }
    a {
      color: $breadcrumb-link-color;
    }
  }


