
$primary-light:     #3778bb;
$primary-mid:       #2f67a1;
$primary-dark:      #20456c;

$text-color:        $primary-dark;
$link-color:        $primary-light;
$link-hover:        darken( $link-color, 15% );

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-red-dark:    #c00;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;
$gray:              #888;
$disabled-gray:     #888;

$url-link:          rgba(0, 128, 0, 0.90);
$url-link-hover:    rgba(0, 170, 0, 0.90);

@import "partials/typography";
@import "partials/functions";
@import "partials/mixins";


.business-directory {
  position: relative;
  width: 100%;
  margin: 0;

  @import "modules/alerts";
  @import "modules/buttons";
  @import "modules/forms";
  @import "modules/search";
  @import "modules/submit";

  @import "breakpoints/base";

  .hpt {
    display: none;
  }
  button.contact-buttons,
  a.contact-buttons {
    @extend %btn;
    display: inline-block;
    margin: 0 1px 0 4px;
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  a {
    img:hover {
      opacity: 1;
      filter: alpha(opacity=100);
      box-shadow: none;
    }
  }
}


