
$primary-light:     #3778bb;
$primary-mid:       #2f67a1;
$primary-dark:      #20456c;

$text-color:        $primary-dark;
$link-color:        $primary-light;
$link-hover:        darken( $link-color, 15% );

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-red-dark:    #c00;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;
$gray:              #888;
$disabled-gray:     #888;
$placeholder:       #dadada;

$url-link:          rgba(0, 128, 0, 0.90);
$url-link-hover:    rgba(0, 170, 0, 0.90);

$pure-blue:         #0078e7;



@import

  // Variables, Extends, Mixins
"bootflat/global",

  // Base
"bootflat/typography",
"bootflat/button",
"bootflat/button_group",
"bootflat/label_badge",
"bootflat/tooltip",
"bootflat/popover",
"bootflat/progress",
"bootflat/breadcrumb",
"bootflat/pagination",
"bootflat/pager",
"bootflat/form",
"bootflat/checkbox_radio",
"bootflat/alert",
"bootflat/tab",
"bootflat/pill",
"bootflat/navbar",
"bootflat/list",
"bootflat/media_list",
"bootflat/modal",
"bootflat/well",
"bootflat/thumbnail",
"bootflat/jumbotron",
"bootflat/panel",
"bootflat/accordion",
"bootflat/footer",
"bootflat/dropdown";



@import "partials/typography";
@import "partials/functions";
@import "partials/mixins";


/** 1 - Global Styles */


.bump-up {
  margin-bottom: 1em;
}
.bump-down {
  margin-top: 1em;
}

.modal {
  top: 32px;
  z-index: 99999;
  font-style: normal;
  text-align: left;

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  label {
    margin-top: 10px;
  }
}

.unhappyMessage {
  color: #da4453;
  margin: 4px 2px;
  display: inline-block;
  font-weight: 500;
  font-size: .9em;
}

.directory-lite {
  position: relative;
  width: 100%;
  margin: 0;

  @import "modules/submit";
  @import "breakpoints/base";


  #search-loading {
    padding: 10em 0;
    text-align: center;
  }

  .navbar-brand i {
    top: 1px;
    position: relative;
  }

  li {
    margin: 0;
  }

  span.submit-error,
  #submit-items ul li a.submit-error {
    color: #da4453;
  }

  h3.featured-listing {
    font-size: 1.45em !important;
    margin: 5px 0 10px !important;
  }

  .directory-search-icon {
    position: absolute;
    top: 2px;
    left: 8.5px;
    z-index: 20;
    width: 30px;
    font-size: 17px;
    line-height: 30px;
    color: #CCD1D9;
    text-align: center;
  }

  .view-types .btn,
  .navbar-btn {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  .navbar-btn span {
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar-btn:hover span {
    display: inline-block;
    margin-left: 5px;
  }
  .fa-push-left {
    margin-left: 8px;
  }

  .fa-push-right {
    margin-right: 8px;
  }




}


/* Category and Search */

h2.listing-title {
  font-size: 1.8em !important;
  margin: 5px 0 0 !important;
}
.type-grid h2.listing-title {
  font-size: 1.4em !important;
  margin: 0 0 15px !important;
}

.submit-form-wrap,
.type-listing {
  padding: 0;
  /*  margin-bottom: 20px;*/
  background-color: #fff;
  border: 1px solid rgba(128, 128, 128, 0.10);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.type-listing .img-rounded {
  margin: 15px auto;
  height: auto !important;
  max-width: 100% !important;
}
.type-listing .listing-summary {
  margin: 0 0 15px;
  padding: 0;
  width: 100%;
  font-size: .9em;
}
.type-grid .listing-meta p {
  text-align: left;
  font-size: .8em;
  color: rgba(119, 119, 119, 0.5);
}
.listing-meta p .fa {
  position: absolute;
  top: 3px;
  left: 0px;
}
.listing-meta {
  margin-top: 15px;
}
.listing-meta p {
  padding-left: 20px;
  position: relative;
}
p.website {
  font-weight: 400;
  margin-bottom: 1em;

  a {
    color: rgba(0, 128, 0, 0.90);
  }
  a:hover {
    color: rgba(0, 170, 0, 0.90);
  }
}

/* Home Page */

.thumbnail.featured a > img,
.thumbnail.featured > img {
  width: auto;
  max-height: 140px;
}

.l-breadcrumb {
  margin-bottom: 1em;
}


/** - Listing View */
.btn-group a,
.btn-group a:visited {
  color: #fff;
}
.social-btn-group {
  color: #fff;
  text-align: right;
}
#map_wrapper {
  display: block;
  height: 200px;
  margin: 0 -15px;
}
#map_canvas {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#content-main .page .entry-content img,
#map_wrapper img,
#map_canvas img {
  max-width: none;
}
.listing-full .panel:last-child {
  margin-bottom: 0;
}
.listing-full .panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.listing-full .panel-heading {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.panel .listing-meta {
  margin: .1em 0;
  color: rgba(119, 119, 119, 0.8);
}

.panel-body {
  position: relative;
}
.panel-title {
  margin: 0 !important;
  letter-spacing: normal !important;
}
.panel-primary .panel-title {
  color: #fff !important;
}
.type-listing.listing-full {
  position: relative;
  padding-top: 1em;
}
.panel p.website {
  margin-bottom: 1em;
  padding-left: 1em;
  font-size: 1.2em;
}
.directory-lite .type-listing.listing-full .listing-header .listing-meta p {
  font-size: 1.2em;
  line-height: normal;
  color: rgba(119, 119, 119, 0.8);
  margin: 0 0 8px;
}
.listing-full .listing-meta p .fa {
  top: 4px;
  left: 2px;
}

.type-listing.listing-full .img-rounded {
  margin: 0;
  margin-top: -15px;
  height: auto;
}

.listing-full h2.listing-title {
  font-size: 2.4em !important;
}




/* Submit Form */



/** - Modals */
#contact-listing-owner.modal {
  top: 32px;
  z-index: 99999;
  font-style: normal;
  text-align: left;
}