# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
Thumbs.db
.cache
.project
.settings
.tmproj
nbproject

# Folders to ignore
.svn
.CVS
.idea
cache
