.ldd-help-container {
    margin: 20px 0;
}
.ldd-logo-help-section{
    float: right;
    background: #607db8;
    padding: 20px;
    margin: 0 0 20px 20px;
    border: 2px solid #5668b8;
}
.ldd_plugin_note {
    font-style: italic;
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding-top: 5px;
}
#post-body-content h2.shortcode-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
}
.shortcode_example_div {
    border: 1px solid #e6e6e6;
    padding: 1em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.085);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.085);
    background: #fff9c0;
    margin-bottom: 1.618em;
    overflow: auto;
    max-width: 100%;
}
.shortcode_example_div h4 {
    margin: 10px 0 10px 0;
    font-size: 14px;
    text-decoration: underline;
}
.shortcode_example_options {
    font-size: 13px;
    margin-top: 20px;
}
.shortcode_example_options ol li > strong {
    text-decoration: underline;
}
.form-table.ldd-settings-table h4.ldd-admin-title {
    color: #000;
    font-weight: bold;
    margin: 1em 0;
    text-transform: uppercase;
    font-size: 1em;
}
.form-table.ldd-settings-table th,
.form-table.ldd-settings-table .form-wrap label{
    color: #444 !important;
}

.form-table.ldd-settings-table td,
.form-table.ldd-settings-table td p,
.form-table.ldd-settings-table label {
    font-size: 13px;
    color: #444 !important;
}

.wrap.directory-lite > h2.heading {
    background-color: rgba(160, 160, 160, 0.05);
}

.wrap h2.nav-tab-wrapper {
    margin-left: -8px;
    padding-left: 8px;
    margin-right: -8px;
}

.sub-heading p {
    margin: 1em 0 0;
}
.sub-heading a {
    text-decoration: none;
}

ul#directory-links {
    width: 100%;
    margin: 22px 0 20px;
    overflow: hidden;
    text-shadow: none;
}

ul#directory-links li {
    line-height: 1.5em;
    font-weight: 700;
    float: left;
    display: inline;
    width: 35%;
}
#directory-links li .fa {
    margin-right: 5px;

}
ul#directory-links li.right {
    text-align: left;
    width: 55%;
    font-weight: 500;
    padding-right: 10%;
}

/*
.wrap h3 {
    margin: 1.5em 0 0;
    padding-top: 1.5em;
    border-top: 6px dashed #f6f6f6;
}
*/

.wp-editor-wrap {
    margin-bottom: 2em;
}

.map-canvas {
    width: 100%;
    height: 340px;
}
table.cmb_metabox input[type=text].autocomplete {
    margin-top: 6px;
    border-radius: 2px;
    height: 30px;
    width: 60%;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#wp-ldl_submit_intro-wrap.wp-editor-wrap,
#wp-ldl_submit_success-wrap.wp-editor-wrap {
    margin-bottom: .5em;
}
.form-table td .wp-editor-wrap + p {
    margin-bottom: 1em;
}

/* ----------------------   */
/* ---------------------------------
/  Generic styles & classes
----------------------------------*/
.ldd-box {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.ldd-box .ldd-addons-image {
    max-width: 100%;
}
.ldd-box h2 {
    font-size: 22px !important;
    padding-left: 0 !important;
}
/* ---------------------------------
/  Styles for specific admin pages
----------------------------------*/

.no-padding {
    padding: 0 !important;
}

.ldd-extend {
    float: left;
    margin: 0 20px 20px 0;
    width: 300px;
    position: relative;
}
.ldd-extend img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.ldd-extend-content p {
    min-height: 60px;
}

.ldd-extend .nf-button {
    float: right;
}

.ldd-extend .nf-doc-button {
    float: left;
}

.wrap.directory-lite .regular-text {
    margin: 0 !important;
}