/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/* USAGE: @include transition(all 0.2s ease-in-out); */
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* @include box-sizing(border-box); */
.business-directory {
  position: relative;
  width: 100%;
  margin: 0;
  /*  @import "modules/alerts";
    @import "modules/buttons";
    @import "modules/forms";
    @import "modules/search";
    @import "modules/submit";
  */
  /** GENERAL STYLES **/
  /** HEADER STYLES **/
  /** NAVIGATION STYLES **/
  /** LISTINGS LOOP **/
  /**
  LINK STYLES
  **/
  /*
    .hpt {
      display: none;
    }
    button.contact-buttons,
    a.contact-buttons {
      @extend %btn;
      display: inline-block;
      margin: 0 1px 0 4px;
      color: #fff;
  
      &:hover {
        color: #fff;
      }
    }
  
    a {
      img:hover {
        opacity: 1;
        filter: alpha(opacity=100);
        box-shadow: none;
      }
    }*/ }
  .business-directory input[type="text"],
  .business-directory input[type="email"],
  .business-directory input[type="password"],
  .business-directory textarea {
    padding: 0;
    line-height: inherit;
    width: inherit;
    margin: 0; }
  .business-directory ul, .business-directory ol {
    padding: 0;
    margin: 0; }
  .business-directory .cf:before, .business-directory .cf:after {
    content: "";
    display: table; }
  .business-directory .cf:after {
    clear: both; }
  .business-directory .cf {
    zoom: 1; }
  .business-directory .thick-border {
    margin: .5em 0;
    padding: 1em;
    border: 1px solid rgba(32, 69, 108, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9); }
  .business-directory .thin-border {
    margin: .5em 0;
    padding: .5em;
    border: 1px solid rgba(32, 69, 108, 0.2);
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.9); }
  .business-directory .thick-border.light,
  .business-directory .thin-border.light {
    border-color: rgba(32, 69, 108, 0.1); }
  .business-directory header.global-header {
    margin: 0;
    padding: 0; }
    .business-directory header.global-header.submit-listing {
      margin-bottom: 2em; }
  .business-directory nav.lite-nav.above-header {
    margin: 0; }
    .business-directory nav.lite-nav.above-header ul li {
      margin: 0; }
  .business-directory nav.lite-nav {
    margin: 1em 0;
    padding: 1em 0;
    background: none; }
    .business-directory nav.lite-nav ul {
      margin: 0;
      padding: 0; }
      .business-directory nav.lite-nav ul li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        *display: inline;
        /* ie7 */
        /*                a {
                            padding: .5em 1em;
                            text-decoration: none;
                            line-height: 100%;
                        }
        
                        a:hover {
                            background: $primary-mid;
                            border-bottom: 2px solid $primary-dark;
                            color: $white;
                            border-radius: 5px;
                        }
        
                        &.current a {
                            background: $primary-mid;
                            color: #fff;
                            border-radius: 5px;
                        }*/ }
    .business-directory nav.lite-nav.right ul {
      text-align: right; }
    .business-directory nav.lite-nav.center ul {
      text-align: center; }
  @media screen and (max-width: 600px) {
    .business-directory nav.lite-nav:not(.above-header) {
      position: relative;
      min-height: 40px;
      /* on nav hover */
      /* right nav */
      /* center nav */ }
      .business-directory nav.lite-nav:not(.above-header) ul {
        z-index: 10000;
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #aaa;
        background: white url("/wp-content/plugins/ldd-directory-lite/public/images/icon-menu.png") no-repeat 10px 14px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
        .business-directory nav.lite-nav:not(.above-header) ul li {
          display: none;
          /* hide all <li> items */
          margin: 0; }
          .business-directory nav.lite-nav:not(.above-header) ul li a {
            display: block;
            padding: 8px 5px 8px 32px;
            text-align: left;
            color: #888; }
          .business-directory nav.lite-nav:not(.above-header) ul li a:hover {
            border-bottom: 0;
            background: white;
            border-radius: 0; }
          .business-directory nav.lite-nav:not(.above-header) ul li.current {
            display: block;
            /* show only current <li> item */ }
            .business-directory nav.lite-nav:not(.above-header) ul li.current a {
              background: none;
              color: #666; }
      .business-directory nav.lite-nav:not(.above-header) ul:hover {
        background-image: none; }
        .business-directory nav.lite-nav:not(.above-header) ul:hover li {
          display: block;
          margin: 0 0 5px; }
          .business-directory nav.lite-nav:not(.above-header) ul:hover li.current {
            background: url("/wp-content/plugins/ldd-directory-lite/public/images/icon-check.png") no-repeat 10px 7px; }
          .business-directory nav.lite-nav:not(.above-header) ul:hover li a:hover {
            color: #20456c; }
      .business-directory nav.lite-nav:not(.above-header).right ul {
        left: auto;
        right: 0; }
      .business-directory nav.lite-nav:not(.above-header).center ul {
        left: 50%;
        margin-left: -90px; } }
  .business-directory.directory-home ul.category-tree {
    margin: 0 0 0 1%;
    padding: 0;
    width: 100%;
    list-style: none; }
    .business-directory.directory-home ul.category-tree * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .business-directory.directory-home ul.category-tree > li {
      margin: 0 1% 1em 0;
      display: inline-block;
      width: 48%;
      vertical-align: top;
      padding: .3em 0; }
      .business-directory.directory-home ul.category-tree > li > a {
        font-weight: 700;
        display: block;
        margin-bottom: .2em;
        background: #eee;
        border-radius: 4px;
        padding: 4px 8px; }
      .business-directory.directory-home ul.category-tree > li > span {
        display: none; }
    .business-directory.directory-home ul.category-tree span {
      font-size: 90%;
      color: rgba(0, 0, 0, 0.4); }
    .business-directory.directory-home ul.category-tree ul.children {
      margin: 0 .5em;
      padding: 0 .1em;
      font-weight: 500;
      list-style: none; }
      .business-directory.directory-home ul.category-tree ul.children li {
        margin: .1em 0; }
  .business-directory #map_wrapper {
    display: block;
    height: 200px; }
  .business-directory #map_canvas {
    width: 100%;
    height: 100%;
    border-radius: 8px; }
  .business-directory .directory-content {
    background: #fff;
    margin: .5em 0; }
  .business-directory.listing-category .listing-title {
    text-align: left;
    font-size: 1.8em; }
  .business-directory .submit-success .listing-title {
    margin: 1em 0 .5em;
    border-bottom: 1px solid rgba(32, 69, 108, 0.5); }
  .business-directory .type-listing.even {
    background: rgba(255, 255, 255, 0.5); }
  .business-directory .type-listing .listing-header {
    width: 100%;
    padding: 0; }
    .business-directory .type-listing .listing-header .listing-title {
      font-size: 1.8em;
      font-weight: normal;
      line-height: 100%;
      margin: 0 0 5px;
      padding: 0;
      text-align: left; }
      .business-directory .type-listing .listing-header .listing-title a {
        text-decoration: none; }
      .business-directory .type-listing .listing-header .listing-title a:hover {
        text-decoration: none; }
    .business-directory .type-listing .listing-header .listing-meta p {
      font-size: 90%;
      line-height: 130%;
      color: rgba(119, 119, 119, 0.5);
      margin: 0 0 8px; }
      .business-directory .type-listing .listing-header .listing-meta p a {
        text-decoration: none; }
      .business-directory .type-listing .listing-header .listing-meta p a:hover {
        text-decoration: none; }
  .business-directory a.pure-button,
  .business-directory a.pure-button:visited
  button[type=submit].pure-button,
  .business-directory button.pure-button {
    margin: 0 4px;
    border: 2px solid #0078e7;
    background: transparent;
    color: #0078e7;
    border-radius: 4px;
    font-size: 110%;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out; }
    .business-directory a.pure-button:hover, .business-directory a.pure-button:focus,
    .business-directory a.pure-button:visited
    button[type=submit].pure-button:hover,
    .business-directory a.pure-button:visited
    button[type=submit].pure-button:focus,
    .business-directory button.pure-button:hover,
    .business-directory button.pure-button:focus {
      background: #0078e7;
      color: white; }
    .business-directory a.pure-button .fa,
    .business-directory a.pure-button:visited
    button[type=submit].pure-button .fa,
    .business-directory button.pure-button .fa {
      margin-right: .5em;
      margin-left: 0; }
      .business-directory a.pure-button .fa.r,
      .business-directory a.pure-button:visited
      button[type=submit].pure-button .fa.r,
      .business-directory button.pure-button .fa.r {
        margin-right: 0;
        margin-left: .5em; }
  .business-directory h3.featured-listing {
    font-size: 1.45em !important;
    margin: 5px 0 10px !important; }
  .business-directory .directory-search-icon {
    position: absolute;
    top: 2px;
    left: 8.5px;
    z-index: 20;
    width: 30px;
    font-size: 17px;
    line-height: 30px;
    color: #CCD1D9;
    text-align: center; }
  .business-directory .view-types .btn,
  .business-directory .navbar-btn {
    color: #fff; }
    .business-directory .view-types .btn:hover,
    .business-directory .navbar-btn:hover {
      color: #fff; }
  .business-directory .navbar-btn span {
    display: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s; }
  .business-directory .navbar-btn:hover span {
    display: inline-block;
    margin-left: 5px; }
  .business-directory .fa-push-left {
    margin-left: 8px; }
  .business-directory .fa-push-right {
    margin-right: 8px; }
  .business-directory ul.category-tree {
    margin: 0 0 0 1%;
    padding: 0;
    width: 100%;
    list-style: none; }
    .business-directory ul.category-tree * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .business-directory ul.category-tree > li {
      margin: 0 1% 1em 0;
      display: inline-block;
      width: 48%;
      vertical-align: top;
      padding: .3em 0; }
      .business-directory ul.category-tree > li > a {
        font-weight: 700;
        display: block;
        margin-bottom: .2em;
        background: #eee;
        border-radius: 4px;
        padding: 4px 8px; }
      .business-directory ul.category-tree > li > span {
        display: none; }
    .business-directory ul.category-tree span {
      font-size: 90%;
      color: rgba(0, 0, 0, 0.4); }
    .business-directory ul.category-tree ul.children {
      margin: 0 .5em;
      padding: 0 .1em;
      font-weight: 500;
      list-style: none; }
      .business-directory ul.category-tree ul.children li {
        margin: .1em 0; }
