/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
p {
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  word-break: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }

/* USAGE: @include transition(all 0.2s ease-in-out); */
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* @include box-sizing(border-box); */
.business-directory {
  position: relative;
  width: 100%;
  margin: 0;
  /** GENERAL STYLES **/
  /** HEADER STYLES **/
  /** NAVIGATION STYLES **/
  /** LISTINGS LOOP **/
  /** Business Display **/
  /**
  LINK STYLES
  **/ }
  .business-directory .alert-help, .business-directory .alert-info, .business-directory .alert-error, .business-directory .alert-success {
    margin: 10px;
    padding: 5px 18px;
    border: 1px solid; }
  .business-directory .alert-help {
    border-color: #e8dc59;
    background: #ebe16f; }
  .business-directory .alert-info {
    border-color: #bfe4f4;
    background: #d5edf8; }
  .business-directory .alert-error {
    border-color: #f8cdce;
    background: #fbe3e4; }
  .business-directory .alert-success {
    border-color: #deeaae;
    background: #e6efc2; }
  .business-directory .black-btn, .business-directory #submit-listing button[type="submit"], .business-directory .ldd-submit-listing_nav {
    display: inline-block;
    padding: 2px 16px;
    font-size: 1.6em;
    line-height: 1.6em;
    color: #fff;
    background-color: #3778bb;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px #20456c; }
    .business-directory .black-btn:hover, .business-directory #submit-listing button[type="submit"]:hover, .business-directory .ldd-submit-listing_nav:hover {
      background-color: #2f67a1;
      color: #fff; }
    .business-directory .black-btn:focus, .business-directory #submit-listing button[type="submit"]:focus, .business-directory .ldd-submit-listing_nav:focus {
      outline: none; }
    .business-directory .black-btn:active, .business-directory #submit-listing button[type="submit"]:active, .business-directory .ldd-submit-listing_nav:active {
      background-color: #2f67a1;
      box-shadow: 0 2px #20456c;
      -webkit-transform: translateY(3px);
      -ms-transform: translateY(3px);
      transform: translateY(3px); }
  .business-directory .black-btn {
    background-color: black; }
    .business-directory .black-btn:hover, .business-directory .black-btn:focus {
      background-color: black; }
    .business-directory .black-btn:active {
      background-color: black; }
  .business-directory .directory-search {
    position: relative;
    height: 56px;
    border: 1px solid #3778bb;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden; }
    .business-directory .directory-search:hover {
      border-color: #20456c; }
    .business-directory .directory-search input[type="text"] {
      width: 90%;
      font-size: 2em;
      line-height: normal;
      color: #888888;
      border-width: 0;
      background: transparent;
      outline: none;
      margin: 0;
      padding: 0px 0 0px 10px;
      height: 56px; }
    .business-directory .directory-search button {
      position: absolute;
      top: 0;
      right: -1px;
      margin-top: 0;
      padding: 0 1em;
      height: 56px;
      font-size: 1.4em;
      color: white;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-align: center;
      line-height: 56px;
      background-color: #2f67a1;
      border: 0;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      -webkit-transition: background-color 0.5s ease-in-out;
      transition: background-color 0.5s ease-in-out; }
      .business-directory .directory-search button:hover {
        background-color: white;
        color: #20456c; }
  .business-directory ::-webkit-input-placeholder {
    color: #888; }
  .business-directory :-moz-placeholder {
    color: #888; }
  .business-directory ::-moz-placeholder {
    color: #888; }
  .business-directory :-ms-input-placeholder {
    color: #888; }
  .business-directory .panel,
  .business-directory .panels-navigation {
    width: 90%;
    max-width: 800px;
    margin: 1em auto; }
  .business-directory .panels-navigation {
    text-align: right; }
  .business-directory #submit-listing ul {
    margin: 0;
    padding: 0; }
  .business-directory #submit-listing * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
  .business-directory .ldd-submit-listing {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 auto 40px; }
    .business-directory .ldd-submit-listing li {
      -webkit-backface-visibility: hidden;
      position: absolute;
      display: none;
      width: 100%;
      left: 0;
      top: 0; }
      .business-directory .ldd-submit-listing li:first-child {
        position: relative;
        display: block;
        float: left; }
    .business-directory .ldd-submit-listing input,
    .business-directory .ldd-submit-listing select,
    .business-directory .ldd-submit-listing textarea {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
  .business-directory #submit-items ul {
    margin: 0;
    width: 100%;
    list-style: none;
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; }
    .business-directory #submit-items ul > li {
      margin: 0;
      padding-right: 6px;
      text-align: center;
      position: relative; }
      .business-directory #submit-items ul > li:first-child {
        padding-left: 6px; }
    .business-directory #submit-items ul li.ldd-submit-listing_here a {
      background: #fff;
      border-top: 3px solid rgba(32, 69, 108, 0.3);
      top: 3px;
      color: #666;
      z-index: 100; }
    .business-directory #submit-items ul li a {
      display: block;
      height: 45px;
      border: 1px solid rgba(32, 69, 108, 0.1);
      border-bottom: 0;
      position: relative;
      top: 1px;
      color: #777;
      outline: none;
      font-weight: bold;
      text-decoration: none;
      line-height: 45px; }
  @media screen and (min-width: 480px) {
    .business-directory #submit-items ul > li {
      display: table-cell;
      margin: 0; } }
  .business-directory #submit-listing fieldset {
    margin: 0 0 .5em;
    padding: 0;
    border: 0; }
    .business-directory #submit-listing fieldset legend {
      margin: 0 0 1em;
      padding-top: .5em;
      width: 100%;
      text-align: left;
      color: rgba(47, 103, 161, 0.35);
      font-size: 2em;
      border: 0; }
  .business-directory #submit-listing label span {
    cursor: pointer;
    display: block;
    margin: 5px 0;
    font-weight: 700; }
  .business-directory #submit-listing input[type="text"],
  .business-directory #submit-listing input[type="email"],
  .business-directory #submit-listing input[type="password"],
  .business-directory #submit-listing input[type="url"],
  .business-directory #submit-listing input[type="file"],
  .business-directory #submit-listing textarea,
  .business-directory #submit-listing select {
    width: 100%;
    line-height: inherit;
    border: 2px solid #ddd;
    background: #fff;
    margin: 0 0 5px;
    border-radius: 3px;
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out; }
    .business-directory #submit-listing input[type="text"]:hover,
    .business-directory #submit-listing input[type="email"]:hover,
    .business-directory #submit-listing input[type="password"]:hover,
    .business-directory #submit-listing input[type="url"]:hover,
    .business-directory #submit-listing input[type="file"]:hover,
    .business-directory #submit-listing textarea:hover,
    .business-directory #submit-listing select:hover {
      border-color: #888; }
    .business-directory #submit-listing input[type="text"]:focus,
    .business-directory #submit-listing input[type="email"]:focus,
    .business-directory #submit-listing input[type="password"]:focus,
    .business-directory #submit-listing input[type="url"]:focus,
    .business-directory #submit-listing input[type="file"]:focus,
    .business-directory #submit-listing textarea:focus,
    .business-directory #submit-listing select:focus {
      outline: 0;
      border: 2px solid #999; }
  .business-directory #submit-listing input[type="text"],
  .business-directory #submit-listing input[type="email"],
  .business-directory #submit-listing input[type="password"],
  .business-directory #submit-listing input[type="url"],
  .business-directory #submit-listing input[type="file"],
  .business-directory #submit-listing textarea,
  .business-directory #submit-listing select {
    padding: 10px; }
  .business-directory #submit-listing textarea {
    height: 100px;
    max-width: 100%; }
  .business-directory #submit-listing button[type="submit"] {
    width: 100%; }
  .business-directory #submit-listing ul li a.submit-error,
  .business-directory #submit-listing span.submit-error {
    color: #cc0000; }
  .business-directory #submit-listing span.submit-error {
    margin-top: 0;
    font-weight: 500;
    font-size: 80%; }
  .business-directory #submit-listing input.submit-error {
    border-color: #cc0000 !important;
    background-color: #fbe3e4; }
  .business-directory .submit-form-wrap {
    margin-bottom: .5em;
    border: 1px solid rgba(32, 69, 108, 0.3);
    border-radius: 2px;
    padding: 1em; }
  .business-directory .ldd-submit-listing_nav {
    margin: 0 1px 0 4px; }
  .business-directory .submit-success ul.submit-review {
    list-style: none; }
    .business-directory .submit-success ul.submit-review span {
      display: inline-block;
      margin: .2em 0;
      font-weight: 700;
      width: 25%; }
  .business-directory .cf:before, .business-directory .cf:after {
    content: "";
    display: table; }
  .business-directory .cf:after {
    clear: both; }
  .business-directory .cf {
    zoom: 1; }
  .business-directory header.global-header {
    margin: 0;
    padding: 0; }
    .business-directory header.global-header.submit-listing {
      margin-bottom: 2em; }
  .business-directory nav.lite-nav.above-header {
    margin: 0; }
    .business-directory nav.lite-nav.above-header ul li {
      margin: 0; }
  .business-directory nav.lite-nav {
    margin: 1em 0;
    padding: 1em 0;
    background: none; }
    .business-directory nav.lite-nav ul {
      margin: 0;
      padding: 0; }
      .business-directory nav.lite-nav ul li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        *display: inline;
        /* ie7 */ }
        .business-directory nav.lite-nav ul li a {
          padding: .5em 1em;
          text-decoration: none;
          line-height: 100%; }
        .business-directory nav.lite-nav ul li a:hover {
          background: #2f67a1;
          border-bottom: 2px solid #20456c;
          color: white;
          border-radius: 5px; }
        .business-directory nav.lite-nav ul li.current a {
          background: #2f67a1;
          color: #fff;
          border-radius: 5px; }
    .business-directory nav.lite-nav.right ul {
      text-align: right; }
    .business-directory nav.lite-nav.center ul {
      text-align: center; }
  @media screen and (max-width: 600px) {
    .business-directory nav.lite-nav:not(.above-header) {
      position: relative;
      min-height: 40px;
      /* on nav hover */
      /* right nav */
      /* center nav */ }
      .business-directory nav.lite-nav:not(.above-header) ul {
        z-index: 10000;
        width: 180px;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        border: solid 1px #aaa;
        background: white url("/wp-content/plugins/ldd-directory-lite/public/icons/icon-menu.png") no-repeat 10px 14px;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3); }
        .business-directory nav.lite-nav:not(.above-header) ul li {
          display: none;
          /* hide all <li> items */
          margin: 0; }
          .business-directory nav.lite-nav:not(.above-header) ul li a {
            display: block;
            padding: 8px 5px 8px 32px;
            text-align: left;
            color: #888; }
          .business-directory nav.lite-nav:not(.above-header) ul li a:hover {
            border-bottom: 0;
            background: white;
            border-radius: 0; }
          .business-directory nav.lite-nav:not(.above-header) ul li.current {
            display: block;
            /* show only current <li> item */ }
            .business-directory nav.lite-nav:not(.above-header) ul li.current a {
              background: none;
              color: #666; }
      .business-directory nav.lite-nav:not(.above-header) ul:hover {
        background-image: none; }
        .business-directory nav.lite-nav:not(.above-header) ul:hover li {
          display: block;
          margin: 0 0 5px; }
          .business-directory nav.lite-nav:not(.above-header) ul:hover li.current {
            background: url("/wp-content/plugins/ldd-directory-lite/public/icons/icon-check.png") no-repeat 10px 7px; }
          .business-directory nav.lite-nav:not(.above-header) ul:hover li a:hover {
            color: #20456c; }
      .business-directory nav.lite-nav:not(.above-header).right ul {
        left: auto;
        right: 0; }
      .business-directory nav.lite-nav:not(.above-header).center ul {
        left: 50%;
        margin-left: -90px; } }
  .business-directory.directory-home ul.category-tree {
    margin: 0 0 0 1%;
    padding: 0;
    width: 100%;
    list-style: none; }
    .business-directory.directory-home ul.category-tree * {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .business-directory.directory-home ul.category-tree > li {
      margin: 0 1% 1em 0;
      display: inline-block;
      width: 48%;
      vertical-align: top;
      padding: .3em 0; }
      .business-directory.directory-home ul.category-tree > li > a {
        font-weight: 700;
        display: block;
        margin-bottom: .2em;
        background: #eee;
        border-radius: 4px;
        padding: 4px 8px; }
      .business-directory.directory-home ul.category-tree > li > span {
        display: none; }
    .business-directory.directory-home ul.category-tree span {
      font-size: 90%;
      color: rgba(0, 0, 0, 0.4); }
    .business-directory.directory-home ul.category-tree ul.children {
      margin: 0 .5em;
      padding: 0 .1em;
      font-weight: 500;
      list-style: none; }
      .business-directory.directory-home ul.category-tree ul.children li {
        margin: .1em 0; }
  .business-directory #map_wrapper {
    display: block;
    margin-bottom: 1.5em;
    height: 260px; }
  .business-directory #map_canvas {
    width: 100%;
    height: 100%;
    border-radius: 8px; }
  .business-directory .directory-content {
    background: #fff;
    border: 1px solid rgba(32, 69, 108, 0.5);
    margin: .5em 0;
    padding: .5em;
    border-radius: 3px; }
  .business-directory .listing-title {
    margin: .2em 0;
    text-align: center;
    font-size: 3em; }
  .business-directory .submit-success .listing-title {
    margin: 1em 0 .5em;
    border-bottom: 1px solid rgba(32, 69, 108, 0.5); }
  .business-directory .type-listing {
    padding: .5em 0;
    margin-bottom: .5em;
    background: #fff;
    border: 1px solid rgba(32, 69, 108, 0.12);
    border-radius: 2px;
    padding: 1em; }
    .business-directory .type-listing.even {
      background: rgba(255, 255, 255, 0.5); }
    .business-directory .type-listing .post-thumbnail {
      position: relative;
      width: 100%;
      /* margin: 4px 4%; */
      display: inline-block;
      vertical-align: top; }
      .business-directory .type-listing .post-thumbnail img {
        max-width: 100%;
        height: auto;
        border-radius: 3px; }
    .business-directory .type-listing .entry-header {
      width: 100%;
      padding: 0; }
      .business-directory .type-listing .entry-header .entry-title {
        font-size: 2em;
        font-weight: normal;
        line-height: 100%;
        margin: 0 0 5px; }
        .business-directory .type-listing .entry-header .entry-title a {
          text-decoration: none; }
        .business-directory .type-listing .entry-header .entry-title a:hover {
          text-decoration: none; }
      .business-directory .type-listing .entry-header .entry-meta p {
        font-size: 90%;
        line-height: 130%;
        color: #777;
        margin: 0 0 8px; }
        .business-directory .type-listing .entry-header .entry-meta p a {
          text-decoration: none;
          font-weight: 700;
          font-size: 110%; }
        .business-directory .type-listing .entry-header .entry-meta p a:hover {
          text-decoration: none; }
    .business-directory .type-listing .entry-summary {
      width: 100%;
      clear: both;
      border-top: 1px solid rgba(32, 69, 108, 0.12);
      margin-top: 1em;
      padding-top: 1em; }
  @media screen and (min-width: 600px) {
    .business-directory .type-listing .post-thumbnail {
      float: right;
      position: relative;
      width: 15%; }
    .business-directory .type-listing .entry-header {
      width: 66%;
      float: left; } }
  .business-directory a, .business-directory a:visited {
    color: #3778bb;
    text-decoration: none; }
    .business-directory a:hover, .business-directory a:focus, .business-directory a:visited:hover, .business-directory a:visited:focus {
      color: #265280;
      text-decoration: none; }
    .business-directory a:link, .business-directory a:visited:link {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
