@function black($opacity) {
    @return rgba(0,0,0,$opacity);
}


@function white($opacity) {
    @return rgba(255,255,255,$opacity);
}


@function cp($target, $container) {
  @return calc-percent($target, $container);
}