%btn-old {
    position: relative;
    vertical-align: top;
    padding: .2em 1em;
    font-size: 1.6em;
    line-height: 1.6em;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba( $primary-dark, .7 );
    background: $primary-light;
    border: 0;
    border-bottom: 2px solid $primary-dark;
    border-radius: 4px;
    cursor: pointer;
    -moz-box-shadow: inset 0 -2px $primary-dark;
    -webkit-box-shadow: inset 0 -2px $primary-dark;
    box-shadow: inset 0 -2px $primary-dark;
    cursor: pointer;
    text-decoration: none;
    @include transition(background-color 0.14s ease-in-out);

    &:hover, &:focus {
        color: $white;
        text-decoration: none;
    }


    &:active {
        top: 1px;
    }
}

%btn {
  display: inline-block;
  padding: 2px 16px;
  font-size: 1.6em;
  line-height: 1.6em;
  color: #fff;
  background-color: $primary-light;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px $primary-dark;
  &:hover {
    background-color: $primary-mid;
    color: #fff;
  }
  &:focus {
    outline: none
  }
  &:active {
    background-color: $primary-mid;
    box-shadow: 0 2px $primary-dark;
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    transform: translateY(3px);
  }
}

.black-btn {
  @extend %btn;
  background-color: $black;

  &:hover,
  &:focus {
    background-color: darken($black, 4%);
  }

  &:active {
    background-color: darken($black, 5%);
  }

}
