


::-webkit-input-placeholder {
  color: $placeholder;
}
:-moz-placeholder {
  color: $placeholder;
}
::-moz-placeholder {
  color: $placeholder;
}
:-ms-input-placeholder {
  color: $placeholder;
}



