.directory-search {
  position: relative;
  height: 56px;

  border: 2px solid $pure-blue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: $white;
  overflow: hidden;

  &:hover {
    border-color: $primary-dark;
  }

  input[type="text"] {
    width: 90%;
    font-size: 2em;
    line-height: normal;
    color: #888888;
    border-width: 0;
    background: transparent;
    outline: none;
    margin: 0;
    padding: 0px 0 0px 10px;
    height: 56px;
  }

  button {
    position: absolute;
    top: 0;
    right: -1px;
    margin-top: 0;
    padding: 0 1em;
    height: 56px;
    font-size: 1.4em;
    color: $pure-blue;
    font-family: $sans-serif;
    text-align: center;
    line-height: 56px;
    border: 0;
    border-left: 1px solid $pure-blue;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    background-color: $white;
    @include transition(background-color 0.5s ease-in-out);

    &:hover {
      background-color: $pure-blue;
      color: $white;
    }
  }

}


.search-section {
  #search-loading-off {
    display: block;
    width: 32px;
    height: 32px;
    background: transparent url('../images/loading.gif') no-repeat center;
    margin: 1em auto;
    padding: 1em;
  }
}

#search-directory-results {
  padding: 1em;
}

.search-result {

  .search-thumbnail {
    display: inline-block;
    width: 10%;
    margin-right: 2%;
    vertical-align: top;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &.fourohfour {
    .search-content {
      width: 100%;
      text-align: center;
    }

    h2.listing-title {
      font-size: 200%;
    }

    .listing-summary {
      font-size: 110%;
    }

  }

  .search-content {
    display: inline-block;
    width: 87%;

    h2.listing-title {
      font-size: 1.2em;
      line-height: normal;
      margin: 0;
      padding: 0;
    }

    h3.listing-url {
      font-size: 0.9em;
      line-height: normal;
      margin: .1em 0 .5em;
      padding: 0;

      a {
        color: $url-link;
      }
      a:hover {
        color: $url-link-hover;
      }

    }

    .listing-summary {
      font-size: 1em;
      color: #999;
    }

  }

}