

.ldd-submit-listing {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto 40px;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;

    &:first-child {
      position: relative;
      display: block;
      float: left;
    }

  }

}


#submit-items {
  ul {
    margin: 0;
    width: 100%;
    list-style: none;
    display: table;
    table-layout: fixed;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    > li {
      margin: 0;
      padding-right: 6px;
      text-align: center;
      position: relative;

      &:first-child {
        padding-left:6px;
      }
    }

    li {

      a {
        display: block;
        height: 45px;
        color: #777;
        outline: none;
        font-weight: 400;
        text-decoration: none;
        line-height: 45px;
      }

      &.ldd-submit-listing_here a,
      a:hover {
        color: #555;
        font-weight: 700;
      }

    }

  }

}



fieldset#submit-pot {
  display: none;
}

@media screen and (min-width: 700px) {
  #submit-items {
    ul {
      > li {
        display: table-cell;
        margin: 0;
      }
    }
  }
}




#submit-listing, .listing-contact-form {

  fieldset {
    margin: 0 0 .5em;
    padding: 0;
    border: 0;

    legend {
      display: none;
    }

  }
  label {
    span {
      cursor: pointer;
      display: block;
      margin: 5px 0;
      font-weight: 700;
    }
  }
}





.submit-success {

  ul.submit-review {
    list-style: none;

    span {
      display: inline-block;
      margin: .2em 0;
      font-weight: 700;
      width: 25%;
    }

  }
}


