.ldd-submit-listing {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto 40px;

  li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
    list-style-type: none;

    &:first-child {
      position: relative;
      display: block;
      float: left;
    }

  }

}


#submit-items {
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: table;
    table-layout: fixed;


    > li {
      margin: 0;
      padding-right: 6px;
      text-align: center;
      position: relative;

      &:first-child {
        padding-left:6px;
      }
    }

    li {
      list-style-type: none;

      a {
        display: inline;
        min-width: 10px;
        padding: 3px 7px;
        height: 45px;
        color: #777;
        outline: none;
        font-weight: 400;
        text-decoration: none;
        line-height: 45px;
        font-size: .9em;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
      }

      &.ldd-submit-listing_here a,
      a:hover {
        color: #fff;
        background-color: #999;
        border-radius: 10px;
      }

    }

  }

}


.submit-form-wrap {
  padding: 2em 0 1em;
  margin-bottom: 1em;

  .row.bump {
    margin-bottom: 1.5em;
  }

  &.submit-confirm {
    padding: 1em;
    text-align: center;
  }

  fieldset {
    span.description {
      margin: 5px 0 0 3px;
      display: inline-block;
      color: #AAB2BD;
      font-size: .9em;
    }

  }

  .pager {
    padding: 0 1em;
  }

}


#submit-listing{

  fieldset {
    margin: 0 0 .5em;
    padding: 0;
    border: 0;

    legend {
      display: none;
    }

  }
  label {
    span {
      cursor: pointer;
      display: block;
      margin: 5px 0;
      font-weight: 700;
    }
  }
}

.submit-success {

  ul.submit-review {
    list-style: none;

    span {
      display: inline-block;
      margin: .2em 0;
      font-weight: 700;
      width: 25%;
    }

  }

}
