/**
 * FIXES - The following all fix a CSS conflict discovered in theme compatibility. They are placed here into
 *         their inclusion in the main stylesheet becomes finalized (and it's found that they don't cause
 *         any additional conflicts!)
 **********************************************************************************************************************
 */


#navbar-directory {
  position: static;
}
.navbar input {
  margin: 0;
}
.navbar .btn {
  margin: 0;
}

.list-group-item {
  line-height: 1.514285714;
}

.nav-tabs > li {
  margin: 0 0 -1px 2px !important;
}

ul li {
  list-style: none;
}

.entry-content {
  ul.nav {
    margin: 0;
    list-style: none;
    li {
      margin: 0;
      list-style: none;
    }
  }
}
