.help-block {
  font-size: 95%;
  margin-bottom: 0;
}

.unhappyMessage {
  color: #da4453;
  margin: 4px 2px;
  display: inline-block;
  font-weight: 500;
  font-size: .9em;
}

#submit-listing {
  .map_wrapper {
    width: 99.5%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .map_wrapper img {
    max-width: none;
  }
  .autocomplete-control {
    margin-top: 6px;
    border-radius: 2px;
    height: 30px;
    width: 60%;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .col-md-12 > p {
    font-size: 1.1em;
  }
  p.section {
    border-top: 3px dashed rgba(199, 199, 199, 0.16);
    padding-top: 1em;
  }
}