
.unhappyMessage {
  color: #da4453;
  margin: 4px 2px;
  display: inline-block;
  font-weight: 500;
  font-size: .9em;
}

#submit-listing {
  .col-md-12 > p {
    font-size: 1.1em;
  }
  p.section {
    border-top: 3px dashed rgba(199, 199, 199, 0.16);
    padding-top: 1em;
  }
  .help-block {
    font-size: 95%;
    margin-bottom: 0 !important;
  }
  #map-canvas {
    width: 99.5%;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #map-canvas img {
    max-width: none;
  }
  .autocomplete-control {
    margin-top: 6px;
    border-radius: 2px;
    height: 30px;
    width: 60%;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
}

.ui-helper-hidden-accessible {
  display: none;
}


.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

* html .ui-autocomplete {
  height: 100px;
}

.ui-autocomplete {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  z-index: 10000;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.ui-autocomplete li {
  margin-bottom: 0;
  white-space: nowrap;
  text-align: left;
}

.ui-autocomplete li a {
  display: block;
  height: 100%;
  padding: 4px 10px;
  color: #444;
}

.ui-autocomplete li a.ui-state-focus {
  background-color: #ddd;
  cursor: pointer;
}
