/**
 * UTILITIES - These are helper classes that can be used to adjust content. Utilities should not be critical to
 *             the presentation, only ancillary.
 **********************************************************************************************************************
 */

.bump-up {
  margin-bottom: 1em !important;
}
.bump-up-more {
  margin-bottom: 3em !important;
}
.bump-down {
  margin-top: 1em !important;
}
.bump-down-more {
  margin-top: 3em !important;
}